/* trippage */
* {
    font-family: sans-serif;
  }
  
  .blur {
    filter: blur(7px);
    -webkit-filter: blur(5px);
  }
  .popbox {
    box-shadow: 4px 4px 5px rgb(190, 180, 180);
    transition: 0.3s;
    border-radius: 5px;
    background-color: white;
    width: 300px;
    height: 190px;
    border: 1.9px solid rgb(238, 92, 39);
    outline-width: 0.4vh;
    outline-color: rgb(228, 70, 13);
    text-align: center;
    /* To make card in center */
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -60%;
    transform: translate(-50%, -50%);
  }
  .rectangle {
    outline-color: rgb(228, 70, 13);
    border-radius: 5px 5px 5px 5px;
    outline-style: solid;
    outline-width: 0.3vh;
    height: 30px;
    width: 210px;
    display: inline-flex;
  }
  .button {
    border-radius: 20px 20px 20px 20px;
    height: 32px;
    width: 73px;
    background-color: rgb(228, 70, 13);
    text-decoration-color: ivory;
    margin-left: 117px;
    margin-bottom: 30px;
  }
  
  .parent1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .box1 {
    height: 250px;
    width: 220px;
    margin: 20px;
    padding: 20px;
    border: 1px solid rgb(245, 78, 18);
    box-shadow: 0 6px 8px gray;
    transition: 0.3s;
    border-radius: 5px;
  }
  .heading1 {
    margin-left: 41%;
    margin-top: 70px;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
  }
  .buttont1 {
    margin-left: 38%;
    margin-top: -50px;
  }
  .triptoparis1 {
    font-size: 20px;
    padding-left: 70px;
  }
  .complete1 {
    padding: 10px 80px;
    color: red;
    text-decoration: line-through;
    font-size: 20px;
  }
  hr {
    width: 188px;
    margin-left: 50px;
  }
  .pending1 {
    padding-left: 50px;
    color: black;
    padding-top: 10px;
  }
  .addbutton1 {
    padding: 90px 200px;
    color: rgb(247, 82, 22);
  }
  /* trippage */
  @media screen and (min-width: 360px) and (max-width: 640px) {
    .heading1 {
      margin-left: 15%;
      margin-top: 70px;
      font-size: 40px;
      font-weight: 700;
      padding-bottom: 20px;
    }
    .buttont1 {
      margin-left: 3.4%;
      margin-top: -60px;
    }
    .box1 {
      height: 250px;
      width: 220px;
      border: 1px solid rgb(245, 78, 18);
      box-shadow: 0 6px 8px gray;
      transition: 0.3s;
      border-radius: 5px;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 568px) {
    .heading1 {
      margin-left: 16%;
      margin-top: 70px;
      font-size: 35px;
      font-weight: 700;
      padding-bottom: 20px;
    }
    .buttont1 {
      margin-left: 3%;
      margin-top: -55px;
    }
    .box1 {
      height: 250px;
      width: 220px;
      border: 1px solid rgb(245, 78, 18);
      box-shadow: 0 6px 8px gray;
      transition: 0.3s;
      border-radius: 5px;
    }
  }
  @media screen and (min-width: 360px) and (max-width: 640px) {
    .heading1 {
      margin-left: 15%;
      margin-top: 70px;
      font-size: 40px;
      font-weight: 700;
      padding-bottom: 20px;
    }
    .buttont1 {
      margin-left: 3.4%;
      margin-top: -60px;
    }
    .box1 {
      height: 250px;
      width: 220px;
      border: 1px solid rgb(245, 78, 18);
      box-shadow: 0 6px 8px gray;
      transition: 0.3s;
      border-radius: 5px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .parent1 {
      display: flex;
      justify-content: center;
      margin-top: 40px;
    }
    .box1 {
      height: 250px;
      width: 220px;
      border: 1px solid rgb(245, 78, 18);
      box-shadow: 0 6px 8px gray;
      transition: 0.3s;
      border-radius: 5px;
    }
    .buttont1 {
      margin-left: 35%;
      margin-top: -60px;
    }
    .popbox {
      box-shadow: 4px 4px 5px rgb(190, 180, 180);
      transition: 0.3s;
      border-radius: 5px;
      background-color: white;
      width: 300px;
      height: 190px;
      border: 1.9px solid rgb(238, 92, 39);
      outline-width: 0.4vh;
      outline-color: rgb(228, 70, 13);
      text-align: center;
     
      position: absolute;
      top: 24%;
      left: 50%;
      margin-right: -60%;
      transform: translate(-50%, -50%);
      justify-content: center;
    }
  }
  

  